Day01-20140603/getMatch/Service References/worldCupServer/worldCup.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="getMatch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="team" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getMatchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getMatchResult" type="tns:ArrayOfMatch" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMatch">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="match" nillable="true" type="tns:match" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="match">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ifreturn" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="homeCourt" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="visitingCourt" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="time" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getMatchSoapIn">
    <wsdl:part name="parameters" element="tns:getMatch" />
  </wsdl:message>
  <wsdl:message name="getMatchSoapOut">
    <wsdl:part name="parameters" element="tns:getMatchResponse" />
  </wsdl:message>
  <wsdl:portType name="worldCupSoap">
    <wsdl:operation name="getMatch">
      <wsdl:input message="tns:getMatchSoapIn" />
      <wsdl:output message="tns:getMatchSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="worldCupSoap" type="tns:worldCupSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getMatch">
      <soap:operation soapAction="http://tempuri.org/getMatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="worldCupSoap12" type="tns:worldCupSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getMatch">
      <soap12:operation soapAction="http://tempuri.org/getMatch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="worldCup">
    <wsdl:port name="worldCupSoap" binding="tns:worldCupSoap">
      <soap:address location="http://localhost:7982/Page/Day12-20140615/worldCup.asmx" />
    </wsdl:port>
    <wsdl:port name="worldCupSoap12" binding="tns:worldCupSoap12">
      <soap12:address location="http://localhost:7982/Page/Day12-20140615/worldCup.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>